.text-small{
    font-size: 10px;
}
.btn-space{
    padding: 3px;
}
#triangle-result-display{

    display: none;
}
#rectangle-result-display{
    display: none;
}
#area-calculation{
    width: 300px;
}

.card-positioning{
    height: 175px; 
    width:229px;     
    padding-left: 22px; 
    padding-top: 27px;
}